<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
		<menu>
			<add id="Duel_Gallery::duel" title="Duel" translate="title" module="Duel_Gallery" parent="Magento_Backend::content" sortOrder="50" dependsOnModule="Duel_Gallery" resource="Duel_Gallery::duel"/>
			<add id="Duel_Gallery::duel_galleries" title="Manage Galleries and Emails" translate="title" module="Duel_Gallery" parent="Duel_Gallery::duel" sortOrder="10" dependsOnModule="Duel_Gallery" action="gallery/duelprods/index" resource="Duel_Gallery::duel"/>
			<add id="Duel_Gallery::duel_duelfeed" title="Manage Product Feed" translate="title" module="Duel_Gallery" parent="Duel_Gallery::duel" sortOrder="10" dependsOnModule="Duel_Gallery" action="gallery/feedlist" resource="Duel_Gallery::duel"/>
		</menu>
</config>

